@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .section {
        min-height: 15rem;
        @apply py-16;
    }

    .question-mark {
        right: -1.5rem;
        top: -0.6rem;
        @apply bg-question-mark text-question-mark absolute w-8 h-8 rounded-full text-2xl font-bold flex justify-center items-center;
    }

    .project-item {
        @apply flex items-center;
    }

    .project-item::before {
        content: "";
        transition-property: "background-color";
        @apply bg-some-projects-circle duration-500 ease-in-out w-3 h-3 rounded-full mr-2 -mt-1;
    }
}

@layer utilities {
    .has-chamfer {
        @apply relative z-20;
    }

    .chamfer-bg {
        @apply w-full h-full left-0 absolute z-0;
    }

    .chamfer-border {
        @apply w-full h-full left-0 absolute z-10;
    }

    .has-border {
        height: 8px;
        @apply w-full absolute bottom-0 left-0;
    }

    .theme-animation-bg {
        transition-property: background;
        @apply duration-500 ease-in-out;
    }

    .theme-animation-color {
        transition-property: "color";
        @apply duration-1000 ease-in-out;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

:root {
    --theme-cold-primary: #4fd1c5;
    --theme-cold-secondary: #6a79fc;

    --theme-hot-primary: #ffc077;
    --theme-hot-secondary: #ff6262;

    --theme-cyberpunk-primary: #fcee09;
    --theme-cyberpunk-secondary: #00f0ff;
}

.cold {
    --header-bg: var(--theme-cold-primary);
    --header-primary: #ffffff;
    --header-secondary: #234e52;
    --header-chamfer-border: #ffffff;

    --question-mark-bg: #ffffff;
    --question-mark: #234e52;

    --what-is-dev-bg: #ffffff;
    --what-is-dev: #000000;
    --what-is-dev-border: none;

    --tech-that-i-use-bg: var(--theme-cold-secondary);
    --tech-that-i-use: #ffffff;
    --tech-that-i-use-icon-bg: #ffffff;
    --tech-that-i-use-icon: #31156b;
    --tech-that-i-use-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --tech-that-i-use-border: none;

    --my-experience-bg: #585858;
    --my-experience: #ffffff;
    --my-experience-timeline-bg: #ffffff;
    --my-experience-date: #969696;

    --some-projects-bg: #ffffff;
    --some-projects: var(--theme-cold-secondary);
    --some-projects-circle-bg: var(--theme-cold-primary);
    --some-projects-underline-start: #ffffff;
    --some-projects-underline-end: var(--theme-cold-secondary);
    --some-projects-border: none;

    --social-network-bg: #1c1c1c;
    --social-network-primary: #ffffff;
    --social-network-secondary: #ffffff;

    --footer-bg: #ffffff;
    --footer: #838383;
    --footer-hover: #000000;
}

.hot {
    --header-bg: var(--theme-hot-primary);
    --header-primary: #ffffff;
    --header-secondary: #ae6a1a;
    --header-chamfer-border: #ffffff;

    --question-mark-bg: #ffffff;
    --question-mark: #ae6a1a;

    --what-is-dev-bg: #ffffff;
    --what-is-dev: #000000;
    --what-is-dev-border: none;

    --tech-that-i-use-bg: var(--theme-hot-secondary);
    --tech-that-i-use: #ffffff;
    --tech-that-i-use-icon-bg: #ffffff;
    --tech-that-i-use-icon: #751616;
    --tech-that-i-use-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --tech-that-i-use-border: none;

    --my-experience-bg: #585858;
    --my-experience: #ffffff;
    --my-experience-timeline-bg: #ffffff;
    --my-experience-date: #969696;
    --my-experience-border: none;

    --some-projects-bg: #ffffff;
    --some-projects: var(--theme-hot-secondary);
    --some-projects-circle-bg: var(--theme-hot-primary);
    --some-projects-underline-start: #ffffff;
    --some-projects-underline-end: var(--theme-hot-secondary);
    --some-projects-border: none;

    --social-network-bg: #1c1c1c;
    --social-network-primary: #ffffff;
    --social-network-secondary: #ffffff;

    --footer-bg: #ffffff;
    --footer: #838383;
    --footer-hover: #000000;
}

.cyberpunk {
    --header-bg: var(--theme-cyberpunk-primary);
    --header-primary: #000000;
    --header-secondary: #000000;
    --header-chamfer-border: var(--theme-cyberpunk-secondary);

    --question-mark-bg: var(--theme-cyberpunk-secondary);
    --question-mark: #ffffff;

    --what-is-dev-bg: #000000;
    --what-is-dev: #ffffff;
    --what-is-dev-border: var(--theme-cyberpunk-secondary);

    --tech-that-i-use-bg: var(--theme-cyberpunk-primary);
    --tech-that-i-use: #000000;
    --tech-that-i-use-icon-bg: #000000;
    --tech-that-i-use-icon: #000000;
    --tech-that-i-use-shadow: 0 20px 25px -5px rgba(0, 240, 255, 0.5),
        0 10px 10px -5px rgba(0, 240, 255, 0.2);
    --tech-that-i-use-border: var(--theme-cyberpunk-secondary);

    --my-experience-bg: #000000;
    --my-experience: #ffffff;
    --my-experience-timeline-bg: var(--theme-cyberpunk-secondary);
    --my-experience-date: var(--theme-cyberpunk-primary);
    --my-experience-border: var(--theme-cyberpunk-secondary);

    --some-projects-bg: var(--theme-cyberpunk-primary);
    --some-projects: #000000;
    --some-projects-circle-bg: var(--theme-cyberpunk-secondary);
    --some-projects-underline-start: var(--theme-cyberpunk-primary);
    --some-projects-underline-end: var(--theme-cyberpunk-secondary);
    --some-projects-border: var(--theme-cyberpunk-secondary);

    --social-network-bg: #000000;
    --social-network-primary: #ffffff;
    --social-network-secondary: var(--theme-cyberpunk-secondary);

    --footer-bg: #000000;
    --footer: #ffffff;
    --footer-hover: #00f0ff;
}

.cyberpunk #social-network svg {
    fill: rgba(0, 0, 0, 0);
    @apply transition-colors duration-200 ease-in-out;
}

.cyberpunk #social-network svg:hover {
    fill: var(--social-network-secondary);
}

#tsparticles {
    @apply w-full h-full absolute top-0 left-0 z-0;
}

.buttons-colors button:first-child div div:first-child {
    background: var(--theme-cold-primary);
}

.buttons-colors button:first-child div div:nth-child(2) {
    background: var(--theme-cold-secondary);
}

.buttons-colors button:nth-child(2) div div:first-child {
    background: var(--theme-hot-primary);
}

.buttons-colors button:nth-child(2) div div:nth-child(2) {
    background: var(--theme-hot-secondary);
}

.buttons-colors button:nth-child(3) div div:first-child {
    background: var(--theme-cyberpunk-primary);
}

.buttons-colors button:nth-child(3) div div:nth-child(2) {
    background: var(--theme-cyberpunk-secondary);
}
